<div class="nav-container min-vw-100">
  <nav class="navbar navbar-expand bg-light justify-content-center">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Markets', markets_path %></li>
    </ul>
  </nav>
</div>